extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
            title: '#{title}'
        });
    });

  h1 My App View
  p hello world
