doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.shopify.com/s/assets/external/app.js')
    script.
        ShopifyApp.init({
          apiKey: '#{apiKey}',
          shopOrigin: '#{shopUrl}'
        });

  body
    block content